<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(
          content = ~{::content},
          contentBefore = ~{::contentBefore},
          isHomePage = true
      )}"
>
  <th:block th:fragment="contentBefore">
    <!-- 博客信息 -->
    <th:block th:replace="~{modules/components/authorInfo}" />
  </th:block>

  <th:block th:fragment="content">
    <!-- 瞬间 -->
    <th:block th:replace="~{modules/moments/moment}" />

    <!-- 博客文章展示 -->
    <div class="flex h-full w-full flex-col">
      <!-- 文章列表 -->
      <th:block th:replace="~{modules/components/postList}"></th:block>
      
      <!-- 空数据 -->
      <th:block th:replace="~{modules/components/emptyData}"></th:block>

      <!-- 分页 -->
      <th:block th:replace="~{modules/components/pagination}"></th:block>
    </div>

    <!-- 标签导航 -->
    <th:block th:replace="~{modules/components/tags}"></th:block>

    <!-- 首页的友情链接 -->
    <th:block th:replace="~{modules/components/friendshipLinks}" />
  </th:block>
</html>
